<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>MyWhi</string>
    <key>CFBundleExecutable</key>
    <string>MyWhi</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>ru</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>az.isupport.mywhi</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MyWhi</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.9.0</string>
    <key>CFBundleVersion</key>
    <string>39</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.productivity</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/GanbarovEmin/MyWhi/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>z9Z5BqW5UpH4JTT5zvESmfl0Kb4Pa6ZR3fuMSJuu+Tc=</string>
    <key>SUEnableInstallerLauncherService</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <false/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMicrophoneUsageDescription</key>
    <string>MyWhi needs microphone access to record your voice for local transcription.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>mywhi</string>
            </array>
            <key>CFBundleURLName</key>
            <string>MyWhi URL Scheme</string>
        </dict>
    </array>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSSupportsAutomaticTermination</key>
    <false/>
    <key>NSSupportsSuddenTermination</key>
    <false/>
</dict>
</plist>
